<h2>{{person.name}}</h2>

<div class="row">
	<div class="col-md-8 image">

	</div>
	
	<div class="col-md-4 info">
		<section id="greatAt">
			<h3>Great at:</h3>
			<p ng-if="person.course == 'gd'">
				[{{person.greatAtEditorial&& 'x' || ' '}}] Editorial design<br />
				[{{person.greatAtDigital&& 'x' || ' '}}] Digital design<br />
				[{{person.greatAtBranding&& 'x' || ' '}}] Branding<br />
				[{{person.greatAtPhotography&& 'x' || ' '}}] Photography
			</p>
			<p ng-if="person.course == 'i'">
				[{{person.greatAtAnimation&& 'x' || ' '}}] Animation<br />
				[{{person.greatAtDigital&& 'x' || ' '}}] Digital Illustration<br />
				[{{person.greatAtPrint&& 'x' || ' '}}] Print Illustration<br />
				[{{person.greatAt3D&& 'x' || ' '}}] 3D Design
			</p>
		</section>

		<section id="speciality">
			<h3>Speciality:</h3>
			<p>{{person.speciality}}</p>
		</section>

		<section id="description">
			<h3>Description:</h3>
			<p ng-if="person.course == 'gd'">
				[{{person.descriptionFormFunction && 'x' || ' '}}] Form follows function<br />
				[{{person.descriptionGoodDesign && 'x' || ' '}}] Good design communicates<br />
				[{{person.descriptionDetails && 'x' || ' '}}] God is in the details<br />
				[{{person.descriptionBreakRules && 'x' || ' '}}] Break the rules<br />
				[{{person.descriptionMinimalismDead && 'x' || ' '}}] Minimalism is dead<br />
				[{{person.descriptionLessIsMore && 'x' || ' '}}] Less is more
			</p>
			<p ng-if="person.course == 'i'">
				[{{person.descriptionPictureWords && 'x' || ' '}}] A picture is worth a thousand words<br />
				[{{person.descriptionGoodIllustration && 'x' || ' '}}] Good illustration communicates<br />
				[{{person.descriptionImagination && 'x' || ' '}}] Imagination is the beginning of creation<br />
				[{{person.descriptionStyle && 'x' || ' '}}] Style is not to be trusted<br />
				[{{person.descriptionBreakRules && 'x' || ' '}}] Break the rules<br />
				[{{person.descriptionSimple && 'x' || ' '}}] Keep it simple
			</p>
		</section>

		<section  id="website" ng-if="person.website">
			<h3>Website:</h3>
			<p>{{person.website}}</p>
		</section>

		<section  id="email" ng-if="person.email">
			<h3>Email:</h3>
			<p>{{person.email}}</p>
		</section>
	</div>

</div>