html, body {
	height: 100%;
}

body {
	font-family: 'Inconsolata', monospace;
	padding: 20px;
}

.logo {
	max-height: 25px;
	max-width: 100%;
	width: auto;
	margin: 0px;
	margin-bottom: 20px;
}

a {
	color: #000;
	font-weight: bold;

	&:hover {
		color: #000;
	}
}

a.cta {
	color: #fff;
	background: #000;
	padding: 3px;
	border-radius: 2px;
	border: 1px solid transparent;
	transition: all 0.1s;
	font-weight: normal;

	&:hover {
		background: transparent;
		color: #000;
		border-bottom-color: #000;
		text-decoration: none;
		transition: all 0.1s;
	}
}

#filters {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	line-height: 22px;

	select {
		&.form-control {
			height: 22px;
			box-shadow: none;

			&:focus {
				border-color: #000;
				background: #000;
				color: #fff;
			}
		}
	}

	a {
		color: #000;
		cursor: pointer;
	}
}

#participants {
	ul {
		padding-left: 0;
		list-style: none;

		li {
			padding-bottom: 15px;

			a {
				transition: all 0.1s;
				padding: 5px 5px 2px 5px;
				font-size: 16px;
				display: block;
				color: #000;
				border-bottom: 1px solid transparent;
				
				h4 {
					margin: 6px 0 3px;
					font-size: 18px;
					white-space: nowrap;
				}

				.image {
					transition: all 0.5s;
					height: 35px;
					width: 100%;
					background-size: 107%;
					background-position: center;
					display: block;
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}

				&:hover, &:focus, &.hover, &.focus {
					outline: none;
					transition: all 0.1s;
					text-decoration: none;
					background: #000;
					color: #fff;

					.image {
						transition: all 0.5s;
						-webkit-filter: grayscale(0%);
						filter: grayscale(0%);
					}
				}
			}
		}
	}
}

.card {
	img, .embed-responsive {
		margin-bottom: 20px;
		margin-left: auto;
	}

	h2 {
		margin-top: 0;
		font-size: 14px;
	}

	h3 {
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	section {
		margin-bottom: 20px;

		.option {
			display: block;

			.checkmark {
				display: inline-block;
				float: left;
			}

			.title {
				display: block;
				margin-left: 25px;
			}
		}
	}
}

.animate-view {
	&.ng-enter, 
	&.ng-leave
	{
		transition: 150ms ease-in all;
		position: relative;
		display: block;
	} 
	 
	&.ng-enter.ng-enter-active, 
	&.ng-leave {
		opacity: 1;
		bottom: 0;
		height: auto;
	}

	&.ng-leave.ng-leave-active,
	&.ng-enter {
		opacity: 0;
		bottom: -50px;
		height: 0px;
	}
}

footer {
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-top: 1px solid #ccc;

	.sponsors {
		p {
			margin: 0;
		}

		#toad {
			height: 25px;
		}

		#mbc {
			height: 95px;
			margin-top: -55px;
		}
	}

	.description {
		p:last-child {
			padding-bottom: 20px;
		}
	}
}

.row {
	&.no-gutter {
		margin-left: -5px;
		margin-right: -5px;
			
		> [class*='col-']:not(:first-child),
		> [class*='col-']:not(:last-child) {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}

.nowrap {
	white-space: nowrap;
}