body {
  font-family: 'Inconsolata', monospace;
}
h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px 0;
}
a {
  color: #fff;
  background: #000;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
}
a:hover {
  background: transparent;
  color: #000;
  border-color: #000;
  text-decoration: none;
}
#names-index ul {
  padding-left: 0;
  list-style: none;
}
#names-index ul li {
  display: inline-block;
  margin: 3px 5px 3px 0;
}
#names-index ul li a {
  font-size: 16px;
}
.card section {
  margin-bottom: 20px;
}
.card section .option {
  display: block;
}
.card section .option .checkmark {
  display: inline-block;
  float: left;
}
.card section .option .title {
  display: block;
  margin-left: 25px;
}
