body {
  font-family: 'Inconsolata', monospace;
}
.card section {
  margin-bottom: 20px;
}
.card section h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.card section .option {
  display: block;
}
.card section .option .checkmark {
  display: inline-block;
  float: left;
}
.card section .option .title {
  display: block;
  margin-left: 25px;
}
