body {
	font-family: 'Inconsolata', monospace;
}

.card {
	section {
		margin-bottom: 20px;

		h3 {
			font-size: 13px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 0 5px 0;
		}

		.option {
			display: block;

			.checkmark {
				display: inline-block;
				float: left;
			}

			.title {
				display: block;
				margin-left: 25px;
			}
		}
	}
}