html,
body {
  height: 100%;
}
body {
  font-family: 'Inconsolata', monospace;
  padding: 20px;
}
.logo {
  max-height: 25px;
  max-width: 100%;
  width: auto;
  margin: 0px;
  margin-bottom: 20px;
}
a {
  color: #000;
  font-weight: bold;
}
a:hover {
  color: #000;
}
a.cta {
  color: #fff;
  background: #000;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: all 0.1s;
  font-weight: normal;
}
a.cta:hover {
  background: transparent;
  color: #000;
  border-bottom-color: #000;
  text-decoration: none;
  transition: all 0.1s;
}
#filters {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 22px;
}
#filters select.form-control {
  height: 22px;
  box-shadow: none;
}
#filters select.form-control:focus {
  border-color: #000;
  background: #000;
  color: #fff;
}
#filters a {
  color: #000;
  cursor: pointer;
}
#participants ul {
  padding-left: 0;
  list-style: none;
}
#participants ul li {
  padding-bottom: 15px;
}
#participants ul li a {
  transition: all 0.1s;
  padding: 5px 5px 2px 5px;
  font-size: 16px;
  display: block;
  color: #000;
  border-bottom: 1px solid transparent;
}
#participants ul li a h4 {
  margin: 6px 0 3px;
  font-size: 18px;
  white-space: nowrap;
}
#participants ul li a .image {
  transition: all 0.5s;
  height: 35px;
  width: 100%;
  background-size: 107%;
  background-position: center;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#participants ul li a:hover,
#participants ul li a:focus,
#participants ul li a.hover,
#participants ul li a.focus {
  outline: none;
  transition: all 0.1s;
  text-decoration: none;
  background: #000;
  color: #fff;
}
#participants ul li a:hover .image,
#participants ul li a:focus .image,
#participants ul li a.hover .image,
#participants ul li a.focus .image {
  transition: all 0.5s;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.card img {
  margin-bottom: 20px;
  margin-left: auto;
}
.card h2 {
  margin-top: 0;
  font-size: 14px;
}
.card h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.card section {
  margin-bottom: 20px;
}
.card section .option {
  display: block;
}
.card section .option .checkmark {
  display: inline-block;
  float: left;
}
.card section .option .title {
  display: block;
  margin-left: 25px;
}
.animate-view.ng-enter,
.animate-view.ng-leave {
  transition: 150ms ease-in all;
  position: relative;
  display: block;
}
.animate-view.ng-enter.ng-enter-active,
.animate-view.ng-leave {
  opacity: 1;
  bottom: 0;
  height: auto;
}
.animate-view.ng-leave.ng-leave-active,
.animate-view.ng-enter {
  opacity: 0;
  bottom: -50px;
  height: 0px;
}
footer {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
}
footer .sponsors p {
  margin: 0;
}
footer .sponsors #toad {
  height: 25px;
}
footer .sponsors #mbc {
  height: 95px;
  margin-top: -55px;
}
footer .description p:last-child {
  padding-bottom: 20px;
}
.row.no-gutter {
  margin-left: -5px;
  margin-right: -5px;
}
.row.no-gutter > [class*='col-']:not(:first-child),
.row.no-gutter > [class*='col-']:not(:last-child) {
  padding-right: 5px;
  padding-left: 5px;
}
.nowrap {
  white-space: nowrap;
}
